.status
	-fields_for "project[status_attributes][]", status do |status_form|
		%p
			=status_form.text_field :name
			=status_form.check_box :close
			= " | "
			=#link_to_function "eliminar", "this.up('.status').remove()"