-content_for :title do
	Buscar

-content_for :button_back do
	=link_to "Atras", projects_path, :class => "back"
	
=form_tag "/search", :name => 'q', :class => "form" do

	%ul
		%li.edit.rounded=text_field_tag "q[title_or_description_cont]", nil, :placeholder => 'Título o descripción'

	%h2 Creador
	%ul
		%li=collection_select :q, :user_id_eq, @users, :id, :name, :include_blank => true

	%h2 Proyecto
	%ul
		%li=collection_select :q, :project_id_eq, @projects, :id, :name, :include_blank => true

	%h2 Estado
	%ul#status_field_div
		%li=render :partial => 'statuses', :locals => {:statuses => @statuses}

	%h2 Fecha desde

	%h2 Fecha hasta
	
	%ul.rounded
		%li	
			Cerrado
			%span.toggle=check_box_tag "q[status_close_eq]"
			
	=link_to "Buscar", "#", :onclick => "document.q.submit();", :class => "whiteButton submit"
	
	#tickets
		= render :partial => 'ticket_list', :locals => {:show_closed => true}