.title
	%h2 Búsqueda Avanzada

=search_form_for @q, :url => search_path, :html => {:method => :post} do |f|
	%table#form_search
		%tbody
			%tr
				%td
					=f.label :title_or_description_cont, "Titulo o Descripción"
					=f.text_field :title_or_description_cont
				%td
					=f.label :user_id_eq, 'Creador'
					=f.collection_select :user_id_eq, @users, :id, :name, :include_blank => true
			%tr
				%td
					=f.label :project_id_eq, "Proyecto"
					=f.collection_select :project_id_eq, @projects, :id, :name, :include_blank => true
					=#observe_field :search_project_id, :url => { :action => :update_status_menu },
		                  							:update => :status_field_div,
		                  							:with => :project_id
				%td
					#status_field_div
						%label{:for => "status_id"} Estado
						=f.collection_select :status_id_eq, @statuses, :id, :name, :include_blank => true
			%tr
				%td
					=f.label :created_at_gte, "Fecha"
					=f.date_select :created_at_gteq, :include_blank => true 
					= " - "
					=f.date_select :created_at_lteq, :include_blank => true
				%td
					=f.label :status_close_eq, "Cerrado"
					=f.check_box :status_close_eq	
			%tr
				%td
					=f.submit "Buscar", :class => "submit"
-if @tickets.blank?
	No se han obtenido ningún ticket en la búsqueda.
-else
	#tickets
		= render :partial => 'ticket_list', :locals => {:show_closed => true}