=form_for :ticket, :url => ticket_path, :html => { :method => :put} do |f|
	%p
		=label_tag 'Nombre:'
		%br/
		=f.text_field :title
	%p
		=label_tag 'Descripción:'
		%br/
		=f.text_area :description
	%p= submit_tag 'Actualizar', :class => "submit"