%h1 Tickets
=#link_to_function "Mostrar/Ocultar Tickets Cerrados", visual_effect(:toggle_appear, "closed", :duration => 0.5)
-if @tickets.blank?
	No se han obtenido ningún ticket.
-else
	#tickets
		= render :partial => 'ticket_list', :locals => {:show_closed => false}