%h1 Tickets
=link_to "Mostrar/Ocultar Tickets Cerrados", "#", :class => 'toggle_closed_tickets'
-if @tickets.blank?
	No se han obtenido ningún ticket.
-else
	#tickets
		= render :partial => 'ticket_list', :locals => {:show_closed => false}