%h2 ¿Olvidó su contraseña?
= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|
  %div= f.email_field :email, :placeholder => 'Email'
  %div= f.submit "Enviar", :class => 'submit'
