%h1= @group.name
%p
	="Actualizar"
	=@group.upgrade
%p
	="Borrar"
	=@group.remove
%p
	="Crear"
	=@group.make
%p
	="Observar"
	=@group.observe
%p
	="Ver"
	=@group.view
%p
	= link_to "Editar", edit_admin_group_path(@group)
	= " | "
	= link_to "Atras", admin_groups_path