body{
	background-color: #DDDDDD;
	color:#3B474F;
	font-family:"Helvetica Neue","Lucida Grande","Helvetica Neue",Arial,sans-serif;
	font-size: 11px;
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none;
}

a:link, a:visited {
	color:#3388BB;
	text-decoration:none;
}

a:hover{
	text-decoration:none;
	color:#333333;
}

input, textarea, select{
	border: 1px solid #888;
}

label{
	font-weight: bold;
}

#header{
	background-color: #5A9ECF;
	border-bottom: 6px solid #233D4F;
	border-top: 1px solid #222222;
	height: 10%;
}

#errors{
	margin: 0 0 0 10px;
	color: red;
	font-weight: bold;
}

#header h1 a {
	border:medium none;
	color:#FFFFFF;
	font-weight:normal;
	height:34px;
	text-decoration:none;
}

#header h1 {
	line-height:normal;
	margin-left:21px;
	padding:5px 0 14px;
}

#main{
	width: 100%;
	min-height: 500px;
	margin-top: 30px;
}

#footer{
	text-align: center;
	width: 100%;
	height: 4%;
	float: left;
	margin-top: 5px;
}

#content{
	background-color: #FFF;
	float:left;
	margin-left: 18px;
	position: relative;
	width:70%;
	min-height: 450px;
}

#sidebar{
	position: relative;
	margin: 0 15px 0 73%;
	padding: 9px 0px 0px 0px;
  	text-align: left;
	width: 25%;
}

.login{
	text-align: center;
	margin-left: -196px;
	margin-top: -200px;
	position: absolute;
	top: 50%;
	width: 400px;
	left: 50%;
}

.login h1 {
	margin-bottom: 15px;
}

.login .canvas{
	background-color: #5A9ECF;
	border: 6px solid #233D4F;
	font-weight: bold;
	box-shadow: 0 1px 6px #BBB;
	border-radius: 2px;
}

.login .canvas input[type="checkbox"] {
	width: auto;
	height: auto;
	padding: 0;
	margin: 3px 0;
	line-height: normal;
	cursor: pointer;
	background-color: transparent;
	border: 0 9;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

.login .canvas label {
	text-align: center;
	float: none;
	font-size: 13px;
	font-weight: normal;
	line-height: 18px;
	margin-bottom: 5px;
	padding-top: 0px;
}

.login .canvas a:link, .login .canvas a:visited {
	color:black;
}

.canvas li{
	margin-bottom: 6px;
}


.canvas label{
	text-align: left;
	margin-right: 10px;
	width: 100%;
	font-size: 12px;
	float: left;
	display: block;
	padding-top: 8px;
}

.canvas span.input{
	background-color: #A0C0D7;
	display: inline-block;
	padding: 3px;
	width: 250px;
}

.canvas input{
	width: 248px;
	font-size: 15px;
	padding: 3px;
}

.fieldWithErrors input{
	border: 2px solid #F00;
}

.rememberMe label{
	text-align: left;
	width: 230px;
}

ul{
	list-style:	none outside none;
}

li.indent{
	padding: 2px 0 0 80px;
}

.rememberMe input{
	margin-right: 3px;
	position: relative;
	width: auto;
	vertical-align: middle;
}

li.button{
	text-align: left;
	padding-left: 80px;
}	
input.submit{
	background-color: #45799C;
	width: 80px;
	color: #233D4F;
	cursor: pointer;
	font-weight: bold;
}

input.submit:hover{
	background-color: #233D4F;
	color: #45799C;
}

#user-bar-greeting{
	float: right;
	font-size: 90%;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	margin-right: 10px;
	margin-top: 9px;
}

#user-bar-greeting li{
	display:inline;
	margin-right:5px;
}

#user-bar-greeting li a{
	border:medium none;
	color: #FFFFFF;
}

#nav {
	background:#DDD none repeat scroll 0 0;
	position: relative;
	display: block;
	overflow: hidden;
}

#nav ul {
	display: block;
	position: relative;
	overflow: hidden;
	height: 25px;
	line-height: 25px;
	list-style: none;
	-webkit-margin-after: 0px;
	margin: 0px;
}

#nav ul li {
	-moz-border-radius-topright: 4px;
	-moz-border-radius-topleft: 4px;
	-webkit-border-top-right-radius: 4px;
	-webkit-border-top-left-radius: 4px;
	background:#5CA0CF;
	position: relative;
	overflow: hidden;
	display: block;
	float: left;
	margin-right: 3px;
	top: 5px;
	line-height: 25px;
}

#nav ul li:hover {
	background-color: #233D4F;
	top: 0;	
}

#nav ul li:hover a {
	color: #AAA;
}

#nav li.right{
	float: right;
	margin:0 0 0 3px;
}

#nav ul li a {
	padding-right: 10px;
	padding-left: 10px;
	color: #233D4F;
	font-weight: bold;
	font-style: normal;
	text-decoration: none;
	font-variant: normal;
	display: block;
	outline-color:-moz-use-text-color;
}

#content-body{
	margin-left: 10px;
	margin-right: 10px;
}

#content-body h4 {
	margin-top: 15px;
}

.flashes {
	/*font-weight:bold;*/
	text-align:center;
	cursor: pointer;
}

.flash_notice, .flash_error{
	background:#BBEECC none repeat scroll 0 0;
	border-color:#448833 -moz-use-text-color #88DDAA;
	border-style:solid none;
	border-width:3px medium 2px;
	color:#003311;
	padding:10px;
}

.flash_error{
	background:#FFDDDD none repeat scroll 0 0;
	border-bottom-color:#FFBBBB;
	border-top-color:#CC0000;
	color:#770000;
}

.ticket_list li{
	border-bottom: 1px solid #EEEEEE;
	padding: 3px;
	position: relative;
}

img.help{
	width: 8px;
	height: 8px;
	padding-left: 3px;
	cursor: help;
}

table.lista_recursos{
	width: 100%;
	text-align: left;
	vertical-align: middle;
	border-collapse: collapse;
	border-spacing: 2px 2px;
	border-color: #808080;
  display: table;
	font-size: 100%;
}

.lista_recursos th{
	border-color: #CCCCCC #CCCCCC #BBBBBB;
	border-width: 1px;
	border-style: solid;
	background-color: #EEE;
}

.lista_recursos td{
	border-bottom-color: #CCCCCC;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	padding: 4px 10px 4px 5px;
}

.lista_recursos ul{
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 0px;
}

.ticket_id{
	text-align: center;
	width: 40px;
}

.ticket_estado{
	width: 100px;
}

.ticket_prioridad{
	width: 100px;
}

.ticket_date{
	width: 100px;
}

.ticket_action{
	width: 60px;
}

td.nombre{
	text-align: left;
	width: 100px;
}

td.acciones{
	text-align: center;
	width: 80px;
}

.acciones a{
	background-color: #EEE;
	border: 1px solid #AAA;
	color: #555;
	font-weight: bold;
}

.acciones a:hover{
	background-color: #AAA;
	border: 1px solid #AAA;
	color: #555;
	font-weight: bold;
}

td.center{
	text-align: center;
}

td.clarita{
	color: #999;
}

.img_ticket{
	float: left;
	margin-right: 10px;
}

.info_ticket h4{
	margin: 0.5px;
}

.resume_ticket{
	background: #EEE;
	border: 1px solid #AAA;
	padding: 5px;
	display: block;
	height: 150px;
}

.info{
	float: left;
	width: 20%;
	margin-right: 10px;
}

.info_all{
	display: block;
	height: 80%;
	float: center;
}

.info1{
	margin-right: 10px;
	float: left;
	height: 100%;
	text-align: center;
}

hr{
	float: none;
	width: 100%;
	height: 1px;
	margin-bottom: 10px;
}

.resume{
	float: right;
	font-size: 110%;
	height: 100%;
	width: 70%;
}

.resume p{
	height: 80px;
}
.acciones_resume{
	float: right;
}

table.record_options{
	width: 100%;
	text-align: left;
	vertical-align: middle;
	border-collapse: collapse;
	border-spacing: 2px 2px;
	border-color: #808080;
  	display: table;
	font-size: 100%;
}

table.record_options_2{
	width: 50%;
}

.record_options th{
	width: 17%;
}

.record_options td{
	width: 33%;
}

.pagination{
	float: right;
	font-size: 120%;
	margin: 10px 0 10px 0;
}

.pagination a{
	border: 1px solid #AAA;
	background-color: #EEE;
	padding: 1px;
}

.pagination span{
	border: 1px solid #AAA;
	background-color: #EEE;
	padding: 1px;
}

.eye{
	float: right;
}

.title{
	height: 40px;
}

.title h2{
	float: left;
	width: auto;
}

.title img{
	float: right;
	margin: 0.83em 0 0.83em 0;
}

.title a{
	float: right;
	padding-top: 15px;
}

div.label {
	float: left;
}

.project_index{
    font-size: 19px;
	margin: 10px 0px 10px 0px;
}

.project_info{
	font-size: 10px;
}

.box{
	margin-left: 35px;
}

.search p, form{
	margin-bottom: 0px;
	margin-top: 5px;
	padding-left: 15px;
	padding-right: 15px;
}

table#form_search{
	width: 100%;
}

table#form_related{
	width: 50%;
	display: block;
}

#form_search label{
	font-size: 12px;
}

table#form_search td.date_select select {
	width: auto;
}

.closed a{
	text-decoration: line-through;
	color: green;
}

.counter {
	font-size: 15px;
	line-height: 5px;
	font-weight: bold;
	background: #38B;
	color: white;
	-webkit-border-radius: 11px;
	padding: 3px 10px 3px 10px;
	display: inline;
	width: auto;
	margin-top: -22px;
	margin-right: 10px;
}

.show_hide_tickets{
	float: right;
}

#tagCloud {   
  width: 290px; 
  text-align: center; 
  padding: 5px;  
  overflow: auto; 
}  

ul#tagList { 
	margin: 0; 
	padding: 0; 
}

ul#tagList li {  
  list-style-type: none; 
  float: left; 
  margin: 0 10px; 
  height: 35px;  
}