!!!
%html
	%head
		=render :partial => 'layouts/top'
	%body
		=render :partial => 'layouts/header'
		#main
			#content
				=render :partial => 'layouts/content'
		=render :partial => 'layouts/footer'
