!!!
%html{:lang => "es"}	
	%head
		=render :partial => 'layouts/top'
	%body
		=render :partial => 'layouts/header'
		#main
			#content
				=render :partial => 'layouts/content'
			#sidebar
				=render :partial => 'layouts/sidebar'
		=render :partial => 'layouts/footer'
