!!!
%html
	%head
		=render :partial => 'layouts/top'
	%body
		.login
			%h1 TicketHQ
			.canvas
				.flashes
					-if flash[:error]
						.flash_error
							=flash[:error]
					-if flash[:notice]
						.flash_notice
							=flash[:notice]
					-if flash[:alert]
						.flash_alert
							=flash[:alert]
				
				=yield
				
			.mobile
				-if mobile_device?
					=link_to "Version completa", :mobile => 0
				-elsif !mobile_device?
					=link_to "Version movil", :mobile => 1	