%p
  Bienvenido #{@resource.name}!
%p Puede confirmar su cuenta a traves del siguiente enlace:
%p= link_to 'Confirmar cuenta', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token)
