%p
  Hola #{@resource.name}!
%p Alguien ha solicitado cambiar su contraseña, y puede hacerlo a través del siguiente enlace:
%p= link_to 'Cambiar contraseña', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)
%p Si no lo solicitó, por favor ignore este mail.
%p Su contraseña no va a cambiar a menos que acceda al enlace anterior.
