%p
  Hola #{@resource.name}!
%p Su cuenta ha sido bloqueada debido a una excesiva cantidad de intentos de login.
%p Pinche en el enlace siguiente para desbloquear:
%p= link_to 'Desbloquear mi cuenta', unlock_url(@resource, :unlock_token => @resource.unlock_token)
